<button><a style="text-decoration:none" href="#!Login">Login</a></button>
<button><a style="text-decoration:none" href="#!Signup">SignUp</a></button>

<button><a style="text-decoration:none" href="#!Home">Home</a></button>
<button><a style="text-decoration:none" href="#!Profile">Profile</a></button>

<button><a style="text-decoration:none" href="#!FairChart">Fair Chart</a></button>
<button><a style="text-decoration:none" href="#!TrainList">Train List</a></button>
<button><a style="text-decoration:none" href="#!StationList">Stations</a></button>

<!-- <button><a style="text-decoration:none" href="#!Purchase">Purchase</a></button>
<button><a style="text-decoration:none" href="#!Pendingtickets">Pending Tickets</a></button>
<button><a style="text-decoration:none" href="#!Payment">Payment</a></button>
<button><a style="text-decoration:none" href="#!Tickets">Tickets</a></button>

<button><a style="text-decoration:none" href="#!JourneyHistory">Journey History</a></button>
<button><a style="text-decoration:none" href="#!PaymentHistory">Payment History</a></button>
<button><a style="text-decoration:none" href="#!Contact">Contacts</a></button> -->

<button><a style="text-decoration:none" href="#!Logout">Logout</a></button>
